<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuxlu.polyvox">

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- disables vibration when speaking -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- Read-write pictures and documents -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <!--
        "ca-app-pub-3940256099942544~3347511713" //test
        "ca-app-pub-4121964947351781~9215757073" //true
        -->

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

        <service
            android:name=".Utils.Auth.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tuxlu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name="com.tuxlu.polyvox.Homepage.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.tuxlu.polyvox.Homepage.SearchResultsActivity" />

        </activity>


        <activity
            android:name="com.tuxlu.polyvox.Search.SearchResultsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.tuxlu.polyvox.User.Login"
            android:label="@string/login_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.tuxlu.polyvox.User.Register"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.tuxlu.polyvox.User.RegisterSuccessful"
            android:label="@string/welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>


        <activity
            android:name="com.tuxlu.polyvox.Utils.UIElements.SimpleWebView"
            android:label="ChangedByCode"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.tuxlu.polyvox.Room.RoomDirect"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.tuxlu.polyvox.Room.RoomHistoric"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.tuxlu.polyvox.User.ProfilePage"
            android:configChanges="orientation" />

        <activity
            android:name="com.tuxlu.polyvox.Options.Options"
            android:label="Paramètres" />

        <activity
            android:name="com.tuxlu.polyvox.Options.OptionsBio"
            android:label="Biographie"></activity>

        <activity
            android:name="com.tuxlu.polyvox.Options.OptionsInfoUser"
            android:label="Informations personnelles"></activity>

        <activity
            android:name="com.tuxlu.polyvox.Options.OptionsPicture"
            android:label="Photo de profil"></activity>

        <activity
            android:name=".Options.OptionsMailPass"
            android:label="@string/mail_and_pass"></activity>


        <activity
            android:name=".User.ForgotPassword"
            android:label="Mot de passe oublié" />

        <activity
            android:name="com.tuxlu.polyvox.User.ForgotReset"
            android:label="Nouveau mot de passe">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="polyvox.fr"
                    android:pathPrefix="/reset-password"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tuxlu.polyvox.User.MailValidated"
            android:label="Valider l'adresse mail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.polyvox.fr"
                    android:pathPrefix="/users/verify"
                    android:scheme="http" />
                <data
                    android:host="api.polyvox.fr"
                    android:pathPrefix="/users/verify"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".Chat.Chat" />


    </application>

</manifest>